<!DOCTYPE html>
<html>
<head>
  <title>Mokka Developers | Tech Forum Chennai | Developers Forum Chennai</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div id="wrap">
    <%= render "layouts/header" %>
    <div class="container page_content">
      <%= render "layouts/flash_msgs" %>
      <%= yield %>
    </div>
    <div id="push"></div>
  </div>
  <%= render "layouts/footer" %>

</body>
</html>
